* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 245, 235);
}

/* <======================>  */
/* Navigation Bar */

.origami {
    color: #a11321;
}

.brand-name {
    font-family: "Pacifico", serif;
    color: #4a1b00;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    width: 30%
}

.offcanvas {
    background-color: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);    
}

.login-btn,
.signUp-btn {
    background-color: #4a1b00;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 50px;
    transition: 0.3s background-color;
}

.login-btn:hover,
.signUp-btn:hover {
    background-color: #a11321;
}

.navbar-toggler {
    font-size: 1.25rem;
    border: none;
    color: #4a1b00;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #4a1b00;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #a11321;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #a11321;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

/* <======================> */
/* Hero Section */

.hero-section {
    font-family: "Marcellus", serif;
}

.first-text {
    width: 65%;
}

.p01, .p02, .p03, .p04 {
    font-size: 54px !important;
    color: #a11321;
}

.p1, .p2, .p3, .p4 {
    color: #4a1b00;
}
 
.b1, .b2 {
    border: 2px solid;
    background-color: #a11321;
    color: white;
    width: 220px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.b1:hover, .b2:hover, .see-all-diagrams a:hover, .steps-btn a:hover {
    background-color: #d33d4c;
    color: white;
}

.image-02 img, .steps img {
    width: 75%;
    height: auto;
}

.see-all-diagrams a, .steps-btn a {
    border: 2px solid;
    background-color: #a11321;
    color: white;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.designs-1 div img {
    width: 75%;
    height: auto;
}

.card {
    transition: all 0.3s;
    background-color: #fff5eb;
    border: none;
}

.card:hover {
    transform: scale(1.15);
}

/* <======================>  */
/* footer */

footer {
    min-height: 120px;
    padding: 20px 50px;
    align-items: center;
    flex-direction: column;
}

footer .social-links, footer .menu {
    align-items: center;
    margin: 10px 0;
}

footer .social-links li, footer .menu li {
    list-style: none;
}

footer .social-links li a, footer .menu li a {
    font-size: 2em;
    color: #a11321;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-links li a:hover {
    transform: translateY(-10px);
}